!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Directory of Indian MPs
    %link{ :rel=> "stylesheet", :href=>"/css/styles.css", :type=> "text/css" }
    %script{ :type=> "text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}
    
    %script{ :type=> "text/javascript", :src=>"/facebox/facebox.js"}
    %link{ :rel=> "stylesheet", :href=>"/facebox/facebox.css", :type=> "text/css" }

  %body
    #content
      #banner
        %h1
          Member of Parliament Directory
      =yield

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10221263-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();