!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Directory of Indian MPs
    %link{ :rel=> "stylesheet", :href=>"/css/styles.css", :type=> "text/css" }
    %link{ :rel =>"stylesheet", :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css', :type=> "text/css"}    
    / %script{ :type=> "text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}
    %script{ :type=> "text/javascript", :src=>"/js/jquery.js"}    
    %script{ :type=> "text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.js"}
    %script{ :type=> "text/javascript", :src=>"/js/jquery.hinty.js"}
    
    %script{ :type=> "text/javascript", :src=>"/facebox/facebox.js"}
    %link{ :rel=> "stylesheet", :href=>"/facebox/facebox.css", :type=> "text/css" }

  %body
    #content
      #banner
        %h1
          Member of Parliament Directory
        %input{:type=> 'text', :id=> 'search', :title=>"Lookup your MP by name", :class=> 'hintable'}
      =yield
    #footer
      %a{:href=> "javascript:void(0)", :onclick=>"window.open('http://myminister.info')"}
        Based on the MyMinister API
      %br
      %a{:href=> "javascript:void(0)", :onclick=>"window.open('http://www.activesphere.com')"}
        An ActiveSphere Initiative

%script{ :type=> "text/javascript", :src=>"/js/underscore.js"}
%script{ :type=> "text/javascript", :src=>"/js/json2.js"}
%script{ :type=> "text/javascript", :src=>"/js/backbone.js"}
%script{ :type=> "text/javascript", :src=>"/js/app.js"}
%script{ :type=> "text/javascript", :src=>"/js/ga.js"}
%script{ :type=> "text/javascript", :src=>"/js/search.js"}