!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Directory of Indian MPs
    %link{ :rel=> "stylesheet", :href=>"/css/styles.css", :type=> "text/css" }
    %script{ :type=> "text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}
  %body
    #content
      #banner
        %h1
          Member of Parliament Directory
      =yield