#profile
  .group-header
    .profile-header
      %h3
        =@mp['name']
        (
        =@mp['party']['name']
        )
      %h4
        Elected from
        =@mp['constituency']['name']
        ,
        =@mp['state_name']
    .photo
      .line
        ="<img src=\"#{@mp['mp_profile']['photo']}\" height=110></img>"
    
  .group
    .line
      Email:
      =@mp['mp_profile']['email']
    .line
      Present Address:
      =@mp['mp_profile']['present_address']
    .line
      Permanent Address:
      =@mp['mp_profile']['permanent_address']
  .group
    .line
      Positions:
      =@mp['mp_profile']['positions']
  .group
    Activity:
    =@mp['mp_profile']['activity']

  .group
    .line
      =@mp['mp_profile']['educational_qualifications']
    .line
      =@mp['mp_profile']['profession']
    .line
      =@mp['mp_profile']['fathers_name']
    .line
      =@mp['mp_profile']['mothers_name']
    .line
      =@mp['mp_profile']['place_of_birth']
    .line
      =@mp['mp_profile']['date_of_birth']
    .line
      =@mp['mp_profile']['martial_status']
    .line
      =@mp['mp_profile']['date_of_marriage']
    .line
      =@mp['mp_profile']['spouse_name']
    .line
      =@mp['mp_profile']['no_of_sons']
    .line
      =@mp['mp_profile']['no_of_daughters']
