#data
  #states
    %h3
      States and Union Territories
    %table{:colspan=> "2"}
      %tr
        %th
          Name
        %th
          No. of MPs
      -@states.each do |state|
        %tr{:onclick=>"get_mps_for_state('#{state['id']}')", :class=> 'row'}
          %td{:class=> 'name'}
            =state['name']
          %td{:class=> 'no_of_mps'}
            =state['no_of_mps']

  #mps
    %h3
      Members of Parliament
    %center
      Select a state.
:javascript
  get_mps_for_state = function(state_id){
  $.ajax({
    url: '/states/'+state_id+'/mps/',
    dataType: 'html',
    success: function(data) {
      $('#mps').html(data);
    }
  });
  }