/* --- GLOBAL ---*/
body {
  color: #111111;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 16px;
  margin: 0;
}

li {
  list-style-type: none;
}

#data {
  background-color: white;
  padding: 10px;
  margin: 20px;
  overflow: hidden;
  -moz-box-shadow: 0 0 20px #C7C7CA;
  -webkit-box-shadow: 0 0 20px #C7C7CA;
}

#content {
  width: 920px;
  margin: 35px auto;
  overflow: hidden;
}
  
h3 {
  text-align: center;
}

#banner {
  width: 100%;
  text-align: center;
}

/* --- GLOBAL ---*/

/*--- STATES PAGE---*/
table th {
  text-align: left;
  padding-bottom: 10px;
}

table td {
  padding: 5px 5px;
}

table .row:hover { 
  background: #ECECEC;
  cursor: pointer;
}

#states .no_of_mps {
  text-align: center;
}

.name {
  color: #111111;
  text-decoration: none;
  border-bottom: 1px dotted red;
}

#states {
  float: left;
  width: 380px;
}

#states table, #mps table {
  margin: auto;
}

#mps {
  float: left;
  width: 480px;
}

table {
  margin: 0 20px;
}
/*--- STATES PAGE ---*/
/* --- MP PAGE ---*/
#profile {
  width: 750px;
}

.group {
  border: 1px dotted red;
  padding: 7px;
  margin: 5px;
  height: 100%;
}

.header {
  font-weight: bold;
}

.group-header {
  overflow: hidden;
  padding: 5px;
}

.profile-header {
  float: left;
  padding: 20px 0 0 120px;
}

.photo {
  float: right;
}

.line {
  overflow: hidden;
}
.label {
  font-weight: bold;
}

.left-column {
  width: 45%;  
  float: left;
}

.right-column {
  width: 45%;  
  float: right;
}

.single-colummn {
  width: 90%;
}

#search {
  width: 300px;
  font-size: 1.1em;
  height:20px;
  outline:3px solid #EEEEEE;
  padding:4px 3px 2px;
  width:305px;
  font-family: Verdana,Arial,sans-serif;
}

#search .hintable {
  color:#222222;  
}

.hint_text {
  font-style: italic;
  color: #C7C7CA;
  text-align: center;
}

#footer {
  text-align: center;
}
#footer a {
  font-size:8px;
  text-transform:uppercase;
  color: #111111;
  text-decoration: none;
}

/* --- MP PAGE ---*/